
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<div class="container">
<h3 >Welcome to Stock market</h3>

  <br>
  

      <%= link_to  new_user_session_path do %>
       <button class="stateButton"> Log in </button>
     <% end %>
      <%= link_to  new_user_registration_path do %>
       <button class="stateButton"> Sign up </button>
     <% end %> <br>
      <%= image_tag "/images/logo.png", :class => "custom-logo"%>
      <br>
  <br>
      <small> &copy; PNP Market</small>

</div>